@import url('https://fonts.googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e0f2f1; 
    }


.wrapper {
    width: 380px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    overflow: hidden;
}


header {
    height: 100px;
    background: #26a69a;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 30px 25px;
}

.field {
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    height: 50px;
    width: 100%;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    overflow: hidden;
}

.icon-box {
    width: 55px;
    height: 100%;
    background: #26a69a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.input-area input {
    width: calc(100% - 55px);
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}

.pass-link {
    margin-top: 5px;
}

.pass-link a, .signup-link a {
    color: #26a69a;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    height: 50px;
    margin: 25px 0;
    background: #26a69a;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #218c82;
}

.signup-link {
    text-align: center;
}

@media (max-width: 410px) {
    .wrapper {
        width: 100%;
        margin: 20px;
    }
}